.input-xs {
    border-radius: 0px;
    font-size: 12px;
    height: 25px;
    line-height: 1.5;
    padding: 5px 10px;
}
.input-xs2 {
    border-radius: 0px;
    font-size: 12px;
    height: 22px;
    line-height: 1.5;
    padding: 5px 10px;
}
.input-60 {
    width: @input-60-size !important;
}
.input-90 {
    width: @input-90-size !important;
}
.input-150 {
    width: @input-150-size !important;
}
.input-210 {
    width: @input-210-size !important;
}
.input-270 {
    width: @input-270-size !important;
}
.input-530 {
    width: @input-530-size !important;
}
