<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>WVC - @ViewBag.Title</title>
	<!-- google open sans -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic' rel='stylesheet' type='text/css' />
	<!-- font awesome -->
	<link href="/css/plugins/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<!-- bootstrap 3.2.0 -->
	<link href="/css/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<!-- components style -->
	<link href="/css/components.min.css" rel="stylesheet" type="text/css" />
	<!-- site -->
	<link href="/css/site.min.css" rel="stylesheet" type="text/css" />
	<!-- theme -->
	<link href="/css/themes/sky-blue.css" rel="stylesheet" type="text/css" id="theme-link" />
	<!-- jquery -->
	<script src="/js/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<!-- bootstrap -->
	<script src="/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
	<!-- jquery validation -->
	<script src="/js/plugins/jqueryvalidation/jquery.validate.min.js" type="text/javascript"></script>
	<!-- bootstrap hover dropdown -->
	<script src="/js/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" type="text/javascript"></script>
	<!-- slim scroll -->
	<script src="/js/plugins/slimscroll/jquery.slimscroll.js" type="text/javascript"></script>
	<!-- blockUI -->
	<script src="/js/plugins/blockUI/jquery.blockUI.js" type="text/javascript"></script>
	<!-- application -->
	<script src="/js/helper/helper.js" type="text/javascript"></script>
</head>
<body class="header-fixed">
	<!-- header -->
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<div class="header-content container - fluid">
			<!-- navbar-header -->
			<div class="navbar-header company-info">
				<button type="button" class="navbar-toggle visible-sm visible-xs" data-sidebar-action="sidebar-sm-toggle">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a href="#/" class="navbar-brand"><i class="icon-logo"></i><span class="name">WVC</span></a>
				<button type="button" class="navbar-toggle visible-md visible-lg" data-sidebar-action="sidebar-toggle" data-sidebar-type="md">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header -->
			<!-- navbar-header -->
			<div class="navbar-header top-menu">
				<ul>
					<!-- profile top menu -->
					<li class="dropdown profile-menu"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<img src="/img/avatars/75/1.jpg" alt="photo" /><span class="profile-name">Angelina Glory</span> </a>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li><a href="#">Edit Profile</a></li>
							<li><a href="#">Account Settings</a></li>
							<li class="divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
					<!-- end profile top menu -->
				</ul>
			</div>
			<!-- end navbar-header -->
			<!-- navbar-collapse horizontal menu -->
			<div class="hor-menu navbar-collapse collapse" ng-controller="MenuController">
				<ul class="nav navbar-nav">
					<li ng-repeat="menu in menus"><a href="{{menu.url}}">{{menu.name}}</a></li>
				</ul>
			</div>
			<!-- end navbar-collapse horizontal menu -->
		</div>
	</div>
	<!-- end header -->
	<!-- page container -->
	<div class="page-container container-fluid">
		<!-- page sidebar -->
		<div class="sidebar-wrapper">
			<div class="sidebar">
				<div class="sidebar-content" ng-controller="MenuController">
					<ul class="nav sidebar-menu">
						<li ng-repeat="menu in menus"><a href="{{menu.url}}"><i class="fa fa-user"></i><span class="menu-text">{{menu.name}}</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end sidebar -->
		<!-- page content -->
		<div class="page-content">
			<!-- start theme panel -->
			<div class="theme-panel">
				<a class="toggler" href="#"><i class="fa fa-cog"></i></a>
				<div class="theme-options">
					<form class="form-horizontal" onsubmit="return false" role="form">
					<div class="form-group theme-group">
						<ul>
							<li class="select"><a href="javascript:;" class="theme-sky-blue" data-theme-name="sky-blue"></a></li>
							<li><a href="javascript:;" class="theme-green" data-theme-name="green"></a></li>
							<li><a href="javascript:;" class="theme-blue-green" data-theme-name="blue-green"></a></li>
							<li><a href="javascript:;" class="theme-orange" data-theme-name="orange"></a></li>
							<li><a href="javascript:;" class="theme-red" data-theme-name="red"></a></li>
							<li><a href="javascript:;" class="theme-purple" data-theme-name="purple"></a></li>
							<li><a href="javascript:;" class="theme-cardovan" data-theme-name="cardovan"></a></li>
							<li><a href="javascript:;" class="theme-teal" data-theme-name="teal"></a></li>
							<li><a href="javascript:;" class="theme-pink" data-theme-name="pink"></a></li>
							<li><a href="javascript:;" class="theme-dark-blue" data-theme-name="dark-blue"></a></li>
							<li><a href="javascript:;" class="theme-blue" data-theme-name="blue"></a></li>
							<li><a href="javascript:;" class="theme-black" data-theme-name="black"></a></li>
						</ul>
					</div>
					<div class="pull-left">
						<div class="form-group">
							<div class="checkbox metro-checkbox metro-checkbox-primary">
								<label for="chklayout">
									<input type="checkbox" id="chklayout" />Box Layout
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox metro-checkbox metro-checkbox-primary">
								<label for="chkheader">
									<input type="checkbox" id="chkheader" />Fixed Header
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox metro-checkbox metro-checkbox-primary">
								<label for="chksidebar">
									<input type="checkbox" id="chksidebar" />Fixed Sidebar
								</label>
							</div>
						</div>
						<div class="clearfix">
						</div>
					</div>
					<div class="pull-right visible-md visible-lg">
						<div class="form-group">
							<label>
								SideBar
							</label>
							<select id="selectSidebarType" class="form-control input-sm">
								<option value="large">Large</option>
								<option value="md">Medium</option>
								<option value="sm">Small</option>
							</select>
						</div>
						<div class="clearfix">
							&nbsp;</div>
						<div class="form-group">
							<label>
								SideBar Position
							</label>
							<select id="selectSidebarPosition" class="form-control input-sm">
								<option value="left">Left</option>
								<option value="right">Right</option>
							</select>
						</div>
						<div class="clearfix">
						</div>
					</div>
					</form>
				</div>
			</div>
			<!-- end theme panel -->
			<div id="main" ng-view>
				@RenderBody()
			</div>
		</div>
		<!-- end page content -->
		<!-- footer -->
		<div class="footer">
			<strong>&copy; 2014 WVC Admin Templates</strong>
		</div>
		<!-- end footer -->
	</div>
	<script type="text/javascript" src="/js/require/require.js" data-main="/scripts/bootstrap.js"></script>
</body>
</html>
