/* body */
body {
  background: #ffffff;
}
body.page-boxed {
  background: #32353e;
}
/* page container */
.page-container .page-content,
.page-container .footer {
  background: #ffffff;
  color: #333333;
}
.page-boxed .page-container.container {
  border-left: solid 0 #272930;
  border-right: solid 0 #272930;
}
/* theme panel */
.theme-panel > .toggler {
  background: #004b8b;
  color: #ffffff;
}
.theme-panel > .theme-options,
.sidebar-right .theme-panel > .theme-options {
  border-color: #004b8b;
}
/* header */
.header {
  background: #004b8b;
  color: #ffffff;
}
.header.navbar-inverse .navbar-brand {
  color: inherit;
}
/* horizontal menu */
.header.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.header.navbar-inverse .navbar-nav > .active > a {
  background: #ffffff;
  color: #333333;
}
.header.navbar-inverse .navbar-nav > .open > a,
.header.navbar-inverse .navbar-nav > .open > a:hover,
.header.navbar-inverse .navbar-nav > .open > a:focus,
.header.navbar-inverse .navbar-nav > li > a:hover,
.header.navbar-inverse .navbar-nav > li > a:focus {
  background: #003d72;
  color: #ffffff;
}
.header .dropdown-menu {
  box-shadow: none;
  border-radius: 0;
  border-width: 2px;
  border-color: #004b8b;
  border-top: 0;
}
.header .dropdown-menu .dropdown-submenu > .dropdown-menu {
  border: solid 2px #004b8b !important;
}
/* dropdown-menu */
.header .dropdown-menu > li > a:hover,
.header .dropdown-menu > li > a:focus,
.header .dropdown-menu > .active > a,
.header .dropdown-menu > .active > a:hover,
.header .dropdown-menu > .active > a:focus {
  background: #003d72;
  color: #ffffff;
}
.header .dropdown-submenu > a:after,
.header .dropdown-submenu:hover > a:after {
  border-color: transparent transparent transparent #333;
}
.header .dropdown-menu > li > a {
  padding: 6px 15px;
}
.header .navbar-toggle {
  background-color: #004b8b;
}
.header .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.header .navbar-toggle:hover,
.header .navbar-toggle:focus {
  background-color: #003d72;
}
.header .navbar-toggle:hover .icon-bar {
  background-color: #ffffff;
}
/* top menu */
.header .top-menu > ul > li > a {
  color: inherit;
}
.header .top-menu > ul > li > a:hover,
.header .top-menu > ul > li > a:focus {
  background: #003d72;
  color: #ffffff;
}
.header .top-menu > ul > li > a.dropdown-toggle > .badge {
  background: #001425;
  color: #ffffff;
}
/* header search form */
.header .search-form {
  background: #002f58;
  border-color: #002f58 !important;
}
.header .search-form .form-control {
  color: #fff;
}
.header .search-form .form-control::-moz-placeholder {
  color: #B5B5B5;
  opacity: 1;
}
.header .search-form .form-control:-ms-input-placeholder {
  color: #B5B5B5;
}
.header .search-form .form-control::-webkit-input-placeholder {
  color: #B5B5B5;
}
/* sidebar-user*/
.sidebar .sidebar-user {
  color: #f5f5f5;
}
.sidebar .sidebar-user > .info > ul > li > a {
  color: #a8aebc;
}
.sidebar .sidebar-user > .info > ul > li > a:hover,
.sidebar .sidebar-user > .info > ul > li > a:focus {
  color: #fff;
}
/* sidebar */
.sidebar {
  background: #272930;
  color: #ffffff;
  border-right: solid 0 #272930;
}
.sidebar .sidebar-search a {
  color: #a8aebc;
}
.sidebar .sidebar-menu.nav {
  border-bottom: 1px solid #2e3038 !important;
}
/* sidebar first level menu */
.sidebar-menu.nav > li.open:last-child > a {
  border-bottom: 0 !important;
}
.sidebar-menu.nav > li > a {
  border-top: 1px solid #2e3038 !important;
  background-color: #272930;
  color: #a8aebc;
}
/* active */
.sidebar-menu.nav > li.active > a,
.sidebar-menu.nav > li.active > a:hover,
.sidebar-menu.nav > li.active > a:focus,
.sidebar-menu.nav > li.open.active > a,
.sidebar-menu.nav > li.open.active > a:hover,
.sidebar-menu.nav > li.open.active > a:focus {
  background-color: #004b8b;
  color: #ffffff;
  border-top: solid 1px #004b8b;
  font-weight: 400;
}
/* open */
.sidebar-menu.nav > li.open > a,
.sidebar-menu.nav > li.open > a:hover,
.sidebar-menu.nav > li.open > a:focus {
  background-color: #1c1d22;
  color: #ffffff;
  border-top: solid 1px #1c1d22;
  font-weight: 400;
}
/* hover */
.sidebar-menu.nav > li > a:hover,
.sidebar-menu.nav > li > a:focus {
  background-color: #1c1d22;
  color: #ffffff;
  border-top: solid 1px #1c1d22;
  font-weight: 400;
}
@media (min-width: 992px) {
  /* sidebar-user */
  .sidebar-sm .sidebar .sidebar-user > .info {
    background-color: #272930;
  }
  /* hover */
  .sidebar-sm .sidebar-menu.nav > li.open.hover > a,
  .sidebar-sm .sidebar-menu.nav > li.open.hover > a:hover,
  .sidebar-sm .sidebar-menu.nav > li.open.hover > a:focus {
    background-color: #ffffff;
    color: #333333;
    border-top: solid 1px #ffffff;
    font-weight: 400;
  }
  .sidebar-sm .sidebar-menu.nav > li.open.hover > a > .menu-text,
  .sidebar-sm .sidebar-menu.nav > li.open.hover > .nav {
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .sidebar-sm .sidebar-menu.nav > li.open.hover > a > .menu-text,
  .sidebar-sm .sidebar-menu.nav > li.open.hover > a:hover > .menu-text,
  .sidebar-sm .sidebar-menu.nav > li.open.hover > a:focus > .menu-text {
    background-color: #004b8b;
    color: #ffffff;
    font-weight: 400;
    border: solid 1px #004b8b;
    border-bottom: 0;
    border-left: 0;
  }
  .sidebar-sm .sidebar-menu.nav > li > .nav {
    border: solid 1px #2e3038;
    border-top: 0;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:after,
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    right: -1px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:after {
    border-width: 8px;
    margin-top: -8px;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    border-width: 10px;
    margin-top: -10px;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:after,
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    border-color: transparent #004b8b transparent transparent;
    border-right-color: #004b8b;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover.pull-up > a > .arrow:after {
    border-color: transparent #272930 transparent transparent;
    border-right-color: #272930;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover.pull-up > a > .arrow:before {
    border-color: transparent #2e3038 transparent transparent;
    border-right-color: #2e3038;
  }
  .sidebar-right.sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:after,
  .sidebar-right.sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    left: -1px;
    right: auto;
  }
  .sidebar-right.sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:after,
  .sidebar-right.sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    border-right-color: transparent;
    border-left-color: #004b8b;
  }
  .sidebar-right.sidebar-sm .sidebar .sidebar-menu > li.open.hover.pull-up > a > .arrow:after {
    border-right-color: transparent;
    border-left-color: #272930;
  }
  .sidebar-right.sidebar-sm .sidebar .sidebar-menu > li.open.hover.pull-up > a > .arrow:before {
    border-right-color: transparent;
    border-left-color: #2e3038;
  }
  .sidebar-right.sidebar-sm .sidebar-menu.nav > li.open.hover > a > .menu-text,
  .sidebar-right.sidebar-sm .sidebar-menu.nav > li.open.hover > .nav {
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 992px) {
  /* sidebar-user */
  .sidebar-md .sidebar .sidebar-user > .info {
    background-color: #272930;
  }
  /* hover */
  .sidebar-md .sidebar-menu.nav > li.open.hover > a,
  .sidebar-md .sidebar-menu.nav > li.open.hover > a:hover,
  .sidebar-md .sidebar-menu.nav > li.open.hover > a:focus {
    background-color: #1c1d22;
    color: #ffffff;
    border-top: solid 1px #1c1d22;
    font-weight: 400;
  }
  .sidebar-md .sidebar-menu.nav > li.open.hover > .nav {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .sidebar-md .sidebar-menu.nav > li > .nav {
    border: solid 1px #2e3038;
    border-top: 0;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:after,
  .sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    right: -1px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:after {
    border-width: 8px;
    margin-top: -8px;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    border-width: 10px;
    margin-top: -10px;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:after,
  .sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    border-color: transparent #272930 transparent transparent;
    border-right-color: #272930;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover.pull-up > a > .arrow:after {
    border-color: transparent #272930 transparent transparent;
    border-right-color: #272930;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover.pull-up > a > .arrow:before {
    border-color: transparent #2e3038 transparent transparent;
    border-right-color: #2e3038;
  }
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:after,
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    left: -1px;
    right: auto;
  }
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:after,
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow:before {
    border-right-color: transparent;
    border-left-color: #272930;
  }
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover.pull-up > a > .arrow:after {
    border-right-color: transparent;
    border-left-color: #272930;
  }
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover.pull-up > a > .arrow:before {
    border-right-color: transparent;
    border-left-color: #2e3038;
  }
  .sidebar-right.sidebar-md .sidebar-menu.nav > li.open.hover > a > .menu-text,
  .sidebar-right.sidebar-md .sidebar-menu.nav > li.open.hover > .nav {
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
/* sidebar sub menu */
.sidebar-menu.nav > li > .nav li a {
  background-color: #272930;
  color: #a8aebc;
  border-top: 1px solid #272930;
}
/* active */
.sidebar-menu.nav > li .nav li.active > a,
.sidebar-menu.nav > li .nav li.active > a:hover,
.sidebar-menu.nav > li .nav li.active > a:focus,
.sidebar-menu.nav > li .nav li.open.active > a,
.sidebar-menu.nav > li .nav li.open.active > a:hover,
.sidebar-menu.nav > li .nav li.open.active > a:focus {
  background-color: #151619;
  color: #ffffff;
  border-top: 1px solid #151619;
  font-weight: 400;
}
/* open */
.sidebar-menu.nav > li .nav li.open > a,
.sidebar-menu.nav > li .nav li.open > a:hover,
.sidebar-menu.nav > li .nav li.open > a:focus {
  background-color: #151619;
  color: #ffffff;
  border-top: 1px solid #151619;
  font-weight: 400;
}
/* hover */
.sidebar-menu.nav > li .nav li a:hover,
.sidebar-menu.nav > li .nav li a:focus {
  background-color: #101114;
  border-top: 1px solid #101114;
  color: #ffffff;
  font-weight: 400;
}
