.fsmall {
    font-size: 12px;
    font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
}
.fsmall .dropdown-menu > li > a,.fsmall .daterangepicker .ranges li, .fsmall .dropdown-menu, .fsmall .form-control, .fsmall label, .fsmall .label {
    font-size: 12px;
}
.fsmall .select2-container-multi .select2-choices .select2-search-field input {
    padding: 3px 5px;
}
.fsmall .page-header .page-title {
    font-size: 18px;
}
.metro-checkbox > label > input[type="checkbox"]:checked ~ span.check:after, .checkbox-inline.metro-checkbox > input[type="checkbox"]:checked ~ span.check:after {
         font-size: 10px;
    margin: 1px 1.5px;
}
.pagination > li > a, .pagination > li > span {
     padding: 4px 10px;
}
.metro-checkbox > label > span.check, .metro-radio > label > span.check, .checkbox-inline.metro-checkbox > span.check, .radio-inline.metro-radio > span.check {
       height: 15px;
       width: 15px;
       line-height: 11px;
}
.modal-header, .modal-footer, .modal-body {
    padding: 10px;
}
.modal-header {
    padding: 7px 10px;
}
.modal-title {
   font-size: 16px;
}
.well-box-list .well:after {
	clear: both;
	display: table;
	content: '';
}
.well .well-content {
	float: left;
}
.well .well-tolls {
	float: right;
	margin-right: 10px;
}
.well .well-content:after, .well .well-tolls:after {
	clear: both;
	display: table;
	content: '';
}
.well .well-tolls > a {
	display: table;
	color: inherit;
	text-decoration: none;
	margin: 12px 0;
}
.well .well-tolls > a > i {
	color: inherit;
	font-size: 18px;
}
.error-alert {
	margin: 0 !important;
	padding:10px !important;
	position:relative;
}
.error-alert button.close {
	position: absolute;
    right: 10px;
    top: 5px
}
.list-box-select {
    height: 200px;
	max-height: 200px;
	overflow: auto;
	overflow-x: hidden;
}
.list-box-select > .list-item{
	position: relative;
}
.list-box-select > .list-item > .list-group-item {
	height: 50px;
}
.list-box-select > .list-item > .checkbox
{
	 left: 10px;
    position: absolute;
    top: 3px;
    z-index: 2;
}
.list-box-select > .list-item.active > .checkbox {
	color: #fff;
}
.list-box-select .select-status {
 font-size: 11px;
    margin-left: 23px;
    margin-top: 2px; float:left;
}
.select2-fg .select2-container.select2-container-multi.form-control {
	display: block !important;
}
.tree-expand {
	width:16px;
	height:16px;
	background-image: url(../img/excol.png);
	background-repeat: no-repeat;
	color: #333;
}
.tree-expand:hover,.tree-expand:focus {
	text-decoration: none;color: #333;
}
.tree-expand.ex-plus {
	background-position: left top;
}
.tree-expand.ex-minus {
	background-position: 0 -20px;
}
.blockUI.blockOverlay {
    display:none !important;
}
.blockUI.blockMsg.blockPage, 
.blockUI.blockMsg.blockElement {
    left: 0 !important;
    position: fixed !important;
    right: 0 !important;
    text-align: center !important;
    top: 0 !important;
    width: auto !important;
    z-index: 999999999 !important;
}
.blockUI.blockMsg.blockElement > .blockUI-message,
.blockUI.blockMsg.blockPage > .blockUI-message {
    background: #fffea2 !important;
    color: #333 !important;
    min-width: 0;
    padding: 5px 10px;
    white-space: nowrap;
    box-shadow: none;
}
.popover.confirmation {
    min-width: 150px;
}
.popover.confirmation .popover-title {
    font-size: 13px;
}
.popover.confirmation .btn-group > .btn:first-child {
    margin-right: 15px;
}
.bootbox.modal .modal-dialog {
    padding: 0;
    margin: 0;
}
.btn.multiselect {
      padding-right: 25px;
    text-align: left;
}
.btn.multiselect > .caret {
      position: absolute;
    right: 10px;
    top: 13px;
}
.chart-tooltip {
  background: #333;
  color: #fff;
  padding: 0;
  margin: 0;
  display: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.no-authorize .header {
    display: none;
}
.modal-backdrop {
    z-index: 4;
}
.form-group > .small-label {
    background: none repeat scroll 0 0 #d4fbd4;
    border-color: #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-radius: 2px;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: -18px;
}