@{ Layout = null; }
<span class="pull-left p-t-5 p-r-10">Rows</span>
<select id="rows" name="rows" data-bind="value:rows_per_page,valueAllowUnset" class="pull-left form-control input-sm input-mini">
	<option value="15">15</option>
	<option value="25">25</option>
	<option value="50">50</option>
</select>
