.fixed-col {
	width:120px;
	float:left;
}
.fixed-col.currency-col{
	width: 220px;
}
.dynamic-col {
	max-width: 500px;
	overflow: auto;
	overflow-y: hidden;
	float:left;
}
td > .cell, th > .cell {
	 height: 30px;
    line-height: 30px;
}
td > .cell > a {
	color: #333;
}