body {
    overflow: hidden;
}
.filter-box {
    padding-right: 10px;
}
.form-inline.rep-fil-form .form-group {
     float:left;
     margin-right: 15px;
 }
.page-header .page-title {
	margin: 0;
	font-size: 20px;
	float:left;
    font-weight: 400;
}
.filter-panel > .panel-heading  {
    padding: 7px;
}
.filter-panel > .panel-heading > .panel-title {
    font-size: 13px;
}
.filter-panel > .panel-body {
    padding: 7px;
}
.filter-panel .radio, .filter-panel .checkbox {
    margin-bottom: 10px;
    margin-top: 0;
}
.filter-panel .list-group {
       margin-bottom: 0;
    margin-top: 0;
}
.detail-mode .page-container > .page-content {
    min-height: 0 !important;
    padding-bottom: 0;
}
.detail-mode .detail-grid-box > .header-tool {
    height: 7px;
    background: #ddd;
    margin-bottom: 15px;
    position:relative;
}
.detail-mode .detail-grid-box > .header-tool > .close-btn {
    background: #ddd;
    position: relative;
    text-align: center;
    width: 50px;
    height: 15px;
    margin: 0 auto;
    cursor: pointer;
}
.detail-mode .detail-grid-box > .header-tool > .close-btn > i {
    font-size: 16px;
    left: 20px;
    position: absolute;
    top: 0;
}
.summary-table-cnt {
    height: 200px;
    overflow: auto;  
    padding-right: 20px;
    margin-bottom: 10px;
}
.detail-grid-box {
    display: none;
}
.detail-mode .detail-grid-box {
    display: block;
}
.detail-mode .detail-grid-box .detail-table-cnt {
    height: 200px;
    overflow: auto;
    padding-right: 5px;
    margin-bottom: 10px;
}
.key-col {
    width: 40%;
}
.amount-col {
	width: 12%;
}
.table > tbody > tr.select-row > td,
.table > tbody > tr.select-row:hover > td,
.table > tbody > tr.select-row:focus > td
{
    background: green;
    color: white;
}
td > .tree-expand {
	display: block;
	width: auto;
}
td > .tree-expand > span {
	padding-left: 20px;
}
#groupChildTable {
	border: 0 !important;
	 margin-bottom: 0;
}
#groupChildTable > tbody > tr > td {
	border-top: 0 !important;
}
.child-row-cnt {
	  padding: 0 0 0 0 !important;
}
#groupChildTable.table > tbody > tr > td {
	border-top: 0;
}
#groupChildTable.table > tbody > tr > td {
	border-right: solid 1px #ddd;
}
#groupChildTable.table > tbody > tr > td:last-child {
	border-right: 0;
}
#groupChildTable > tbody > tr > td.date-col {
	padding-left: 26px;
}
.img-compare {
    background-image: url("../../img/compare.png");
    background-repeat: no-repeat;
    float: left;
    height: 26px;
    width: 26px;
}
.img-compare.check {
    background-image: url(../../img/compare-orange.png);
}
@media (min-width: 992px) {
	#groupkeylist.autofix_sb.bottom.fixed {
		position: fixed;
		top: 90px;
		width: 170px;
	}
}
