.logo {
  margin: 20px auto 20px auto;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}
.icon-logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}
.icon-logo-lg {
  background-image: url(../img/logo-lg.png);
  background-repeat: no-repeat;
  width: 52px;
  height: 40px;
}
.logo > a {
  color: inherit;
  position: relative;
}
.logo > a:hover,
.logo > a:focus {
  text-decoration: none;
}
.logo i {
  position: absolute;
  left: 0;
  top: 7px;
}
.logo .name {
  padding-left: 60px;
}
.back-to-top {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 9px 12px;
  position: fixed;
  right: 0;
  text-decoration: none;
}
.back-to-top:hover,
.back-to-top:focus {
  color: #fff;
  text-decoration: none;
}
.header.navbar {
  border-radius: 0;
  box-shadow: none;
  border: 0;
  position: relative;
  z-index: 1030;
  min-height: 44px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .header.navbar {
    border-radius: 0;
  }
}
.header.navbar-fixed-top,
.header.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .header.navbar-fixed-top,
  .header.navbar-fixed-bottom {
    border-radius: 0;
  }
}
.header .navbar-brand {
  float: left;
  padding: 13px 15px;
  font-size: 22px;
  font-weight: 300;
  line-height: 18px;
  height: 44px;
}
.header .navbar-brand:hover,
.header .navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .header.navbar > .container .header .navbar-brand,
  .header.navbar > .container-fluid .header .navbar-brand {
    margin-left: -15px;
  }
}
.header .navbar-nav {
  margin: 6.5px -15px;
}
.header .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .header .navbar-nav {
    float: left;
    margin: 0;
  }
  .header .navbar-nav > li {
    float: left;
  }
  .header .navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .header .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
.header .navbar-form {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header .navbar-header {
  float: left;
}
.header-fixed {
  padding-top: 44px;
}
.header .navbar-toggle {
  border-radius: 0;
  float: left;
  margin: 0;
  padding: 15px 10px;
  border: 0;
}
.header .top-menu {
  float: right;
}
.header .top-menu > ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .top-menu .dropdown-menu {
  margin: 0;
  padding: 0;
  border-top: 0;
}
.header .top-menu > ul > li {
  float: left;
  list-style: none;
  display: block;
  position: relative;
}
.header .top-menu > ul > li > a {
  display: block;
  position: relative;
  padding: 17px 12px 8px;
}
.header .top-menu > ul > li.profile-menu > a {
  padding: 7px 5px;
}
.header .top-menu > ul > li.profile-menu > a > img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.header .top-menu > ul > li > a:hover,
.header .top-menu > ul > li > a:focus {
  text-decoration: none;
}
.header .navbar-brand {
  position: relative;
}
.header .navbar-brand > i {
  font-size: 25px;
  position: absolute;
  top: 7px;
}
.header .dropdown-menu > .dropdown-header {
  padding: 10px;
  background-color: #f5f5f5;
}
.header .dropdown-menu > .dropdown-footer {
  padding: 0;
  margin: 0;
  border-top: 1px solid #e8e8e8;
}
.header .dropdown-menu > .dropdown-footer > a {
  margin: 0;
  padding: 10px;
}
.header .dropdown-menu > .dropdown-footer > a:hover,
.header .dropdown-menu > .dropdown-footer > a:focus {
  background-color: #e8e8e8;
  color: #333;
}
.header .dropdown-menu .dropdown-menu-list {
  margin: 0;
  padding: 0;
}
.header .dropdown-menu .dropdown-menu-list > li {
  margin: 0;
  padding: 0;
  display: block;
}
.header .dropdown-menu .dropdown-menu-list > li > a {
  color: #333;
  padding: 10px;
  display: block;
  border-top: 1px solid #e8e8e8;
}
.header .top-menu > ul > li > a.dropdown-toggle > i {
  font-size: 17px;
}
.header .top-menu > ul > li > a.dropdown-toggle > .badge {
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 11px;
}
.header .dropdown-menu .dropdown-menu-list > li > a > p {
  margin: 0;
}
.header .dropdown-menu .dropdown-menu-list > li > a > h5 {
  margin: 0;
  padding: 0 0 10px 0;
}
.header .dropdown-menu .dropdown-menu-list > li > a:hover,
.header .dropdown-menu .dropdown-menu-list > li > a:focus {
  background-color: #e8e8e8;
}
.header .dropdown-menu .dropdown-menu-list .progress {
  margin-bottom: 0px;
}
.header .dropdown-menu .dropdown-menu-list > li > a .img-circle {
  width: 50px;
  height: 50px;
}
.header .dropdown-menu .dropdown-submenu > .dropdown-menu {
  margin-top: 0;
  margin-left: 0;
}
.header .dropdown-tasks > .dropdown-menu {
  width: 300px;
}
.header .dropdown-messages > .dropdown-menu {
  width: 300px;
}
.header .dropdown-notifications > .dropdown-menu {
  width: 300px;
}
.header .dropdown-messages .dropdown-menu-list > li > a > .avatar {
  float: left;
  margin: 3px 10px 0 0;
}
.header .dropdown-messages .dropdown-menu-list > li > a > h5 {
  margin: 0;
  padding: 5px 0;
}
.header .dropdown-messages .dropdown-menu-list > li > a > h5 > small {
  float: right;
}
.header .dropdown-notifications .dropdown-menu-list > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .dropdown-notifications .dropdown-menu-list > li > a > .btn {
  margin-right: 8px;
}
.header .search-form-toggle {
  display: none !important;
}
/* header search form */
.header .search-form {
  background: transparent;
  margin: 0 10px !important;
  padding: 5px !important;
  float: right !important;
  width: 200px !important;
}
.header .search-form .form-control {
  background: transparent;
  border: transparent;
}
.header .search-form .input-icon i {
  margin-top: 8px;
}
@media (min-width: 992px) {
  .header > container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .navbar-brand {
    width: 220px;
  }
}
@media (max-width: 767px) {
  .header .navbar-brand > .name {
    display: none;
  }
  .header .navbar-brand > i {
    left: 5px;
  }
  .header .dropdown-messages > .dropdown-menu {
    margin-right: -37.5px;
  }
  .header .dropdown-notifications > .dropdown-menu {
    margin-right: -25px;
  }
}
@media (min-width: 768px) {
  .header .navbar-brand {
    padding-left: 50px;
  }
  .header .navbar-toggle {
    margin-left: -15px;
  }
  .header .navbar-brand > i {
    left: 15px;
  }
}
@media (min-width: 992px) {
  .header .visible-md.navbar-toggle {
    margin-left: -44px;
  }
}
@media (max-width: 580px) {
  .header .navbar-form.search-form {
    left: 0;
    margin: 0 !important;
    padding: 10px !important;
    position: absolute;
    right: 0;
    top: 44px;
    width: auto !important;
    background: #333 !important;
    border: 0 !important;
    display: none !important;
  }
  .header .navbar-form.search-form.show {
    display: block !important;
  }
  .header .search-form .form-control {
    background: #fff !important;
    color: #333 !important;
  }
  .header .search-form-toggle {
    display: block !important;
    font-size: 17px;
    padding: 10px 12px !important;
  }
  .header .profile-menu > .dropdown-toggle > .profile-name {
    display: none !important;
  }
}
.page-container .footer {
  margin-left: 220px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar-animation .page-container .footer {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -ms-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
}
@media (max-width: 991px) {
  .page-container .footer {
    margin-left: 0;
  }
}
.page-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
}
.page-container .page-content {
  position: relative;
  margin-left: 220px;
  padding: 20px;
}
.sidebar-animation .page-container .page-content {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -ms-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
}
@media (max-width: 991px) {
  .page-container-no-scroll .page-container .page-content {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .page-container .page-content {
    margin-left: 0;
  }
}
.page-header {
  border: 0 none;
  margin: 0 0 15px 0;
  padding: 0;
  position: relative;
}
.page-header > .page-title {
  margin: 0;
  font-size: 30px;
  float: left;
  font-weight: 300;
}
.page-header:after {
  clear: both;
  content: '';
  display: table;
}
@media (max-width: 991px) {
  .hor-menu,
  .hor-menu.navbar-collapse,
  .hor-menu.navbar-collapse.collapse {
    display: none !important;
  }
}
.sidebar {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  float: left;
  z-index: 1029;
  width: 220px;
}
.sidebar:before {
  background-color: inherit;
  border-color: inherit;
  border-style: inherit;
  border-width: inherit;
  bottom: 0;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: -1;
}
.sidebar-animation .sidebar {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -ms-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
}
.sidebar-fixed .sidebar {
  position: fixed;
  top: 44px;
  bottom: 0;
}
.sidebar-fixed .sidebar.affix {
  top: 0;
  transform: none;
}
.sidebar-menu.nav > li > a {
  display: block;
  padding: 10px 15px;
  position: relative;
}
.sidebar-menu.nav > li > .nav {
  margin: 0;
}
.sidebar-menu.nav > li > a > i {
  margin-right: 10px;
  font-size: 14px;
}
.sidebar-menu li a .arrow {
  float: right;
  font-size: 16px;
}
.sidebar-menu .fa.arrow:before {
  content: "\f104";
}
.sidebar-menu .open > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar-menu.nav > li > .nav > li > a {
  padding: 10px 15px 10px 38px;
}
.sidebar-menu.nav > li > .nav > li > .nav > li > a {
  padding: 10px 15px 10px 58px;
}
.sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > a {
  padding: 10px 15px 10px 78px;
}
.sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > .nav > li > a {
  padding: 10px 15px 10px 98px;
}
.sidebar .sidebar-user {
  padding: 10px 10px 10px 95px;
  position: relative;
  height: 95px;
}
.sidebar .sidebar-user:after {
  clear: both;
  content: '';
  display: table;
}
.sidebar .sidebar-user > .avatar {
  position: absolute;
  left: 10px;
}
.sidebar .sidebar-user > .avatar > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.sidebar .sidebar-user > .info {
  margin: 5px 0 0 0;
}
.sidebar .sidebar-user > .info > .name {
  font-size: 14px;
}
.sidebar .sidebar-user > .info > .status {
  font-size: 11px;
  margin-top: 3px;
}
.sidebar .sidebar-user > .info > .status > i {
  color: #008a17;
  float: left;
  font-size: 8px;
  margin-right: 5px;
  margin-top: 4px;
}
.sidebar .sidebar-user > .info > ul,
.sidebar .sidebar-user > .info > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .sidebar-user > .info > ul {
  margin: 10px 0 0 0;
}
.sidebar .sidebar-user > .info > ul:after {
  content: '';
  clear: both;
  display: table;
}
.sidebar .sidebar-user > .info > ul > li {
  float: left;
}
.sidebar .sidebar-user > .info > ul > li > a {
  color: #fff;
  float: left;
  font-size: 14px;
  padding-right: 15px;
}
@media (max-width: 991px) {
  .sidebar {
    display: block;
    top: 0;
    left: -220px;
  }
  .sidebar:before {
    top: 44px;
    display: none;
  }
  .sidebar-open .sidebar:before {
    display: block;
  }
  .sidebar-fixed .sidebar {
    top: 44px;
  }
  .sidebar-animation .sidebar {
    -webkit-transition: none 0.4s ease;
    -moz-transition: none 0.4s ease;
    -ms-transition: none 0.4s ease;
    -o-transition: none 0.4s ease;
    transition: none 0.4s ease;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -ms-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
  }
  .sidebar-open .page-container .sidebar {
    left: 0;
  }
}
@media (min-width: 992px) {
  .sidebar {
    display: block !important;
  }
  .no-sidebar .sidebar {
    display: none !important;
  }
  .no-sidebar .page-container .page-content {
    margin-left: 0;
  }
  .no-sidebar .page-container .footer {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .sidebar-right .sidebar-wrapper {
    float: right;
    position: relative;
  }
  .sidebar-right .sidebar-wrapper {
    margin-right: 220px;
  }
  .sidebar-right.sidebar-animation .sidebar-wrapper {
    -webkit-transition: none 0.4s ease;
    -moz-transition: none 0.4s ease;
    -ms-transition: none 0.4s ease;
    -o-transition: none 0.4s ease;
    transition: none 0.4s ease;
    -webkit-transition-property: margin-right;
    -moz-transition-property: margin-right;
    -ms-transition-property: margin-right;
    -o-transition-property: margin-right;
    transition-property: margin-right;
  }
  .sidebar-right .page-container .page-content,
  .sidebar-right .page-container .footer {
    margin-right: 220px;
    margin-left: 0;
  }
  .sidebar-right.sidebar-sm .sidebar-wrapper {
    margin-right: 35px;
  }
  .sidebar-right.sidebar-sm .page-container .page-content,
  .sidebar-right.sidebar-sm .page-container .footer {
    margin-right: 35px;
    margin-left: 0;
  }
  .sidebar-right.sidebar-sm-fixed .page-container .page-content,
  .sidebar-right.sidebar-sm-fixed .page-container .footer {
    margin-right: 35px !important;
    margin-left: 0 !important;
  }
  .sidebar-right.sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .menu-text,
  .sidebar-right.sidebar-sm .sidebar .sidebar-menu > li.open.hover > .nav.in {
    right: 35px;
    left: auto;
  }
  .sidebar-right.sidebar-sm .sidebar .sidebar-user > .info {
    left: auto;
    right: 35px;
  }
  .sidebar-right.sidebar-md .sidebar-wrapper {
    margin-right: 110px;
  }
  .sidebar-right.sidebar-md .page-container .page-content,
  .sidebar-right.sidebar-md .page-container .footer {
    margin-right: 110px;
    margin-left: 0;
  }
  .sidebar-right.sidebar-md-fixed .page-container .page-content,
  .sidebar-right.sidebar-md-fixed .page-container .footer {
    margin-right: 110px !important;
    margin-left: 0 !important;
  }
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover > .nav.in {
    right: 110px;
    left: auto;
  }
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .menu-text,
  .sidebar-right.sidebar-md .sidebar .sidebar-menu > li.open.hover > .nav.in {
    right: 110px;
    left: auto;
  }
  .sidebar-right.sidebar-md .sidebar .sidebar-user > .info {
    left: auto;
    right: 110px;
  }
}
@media (min-width: 992px) {
  /* page sidebar small */
  .sidebar-sm .sidebar {
    width: 35px;
  }
  .sidebar-sm .sidebar .sidebar-menu {
    margin: 0;
  }
  .sidebar-sm .page-container .page-content,
  .sidebar-sm .page-container .footer {
    margin-left: 35px;
  }
  .sidebar-sm .sidebar-menu .navbar-toggle {
    float: none;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .sidebar-sm .sidebar-menu > li > a,
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .menu-text {
    padding: 10px;
    transition: none 0s ease 0s;
  }
  .sidebar-sm .sidebar-menu > li > a > i {
    margin: 0;
  }
  .sidebar-sm .sidebar .sidebar-menu > li > a > .menu-text,
  .sidebar-sm .sidebar .sidebar-menu > li > a > .arrow {
    display: none;
  }
  .sidebar-sm .sidebar-menu > li .nav {
    display: none;
  }
  .sidebar-sm .sidebar-menu > li > .nav .nav.in {
    display: block;
  }
  .sidebar-sm .sidebar-menu.nav > li > .nav > li > a {
    padding: 10px;
  }
  .sidebar-sm .sidebar-menu.nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 38px;
  }
  .sidebar-sm .sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 58px;
  }
  .sidebar-sm .sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 78px;
  }
  /* page sidebar collapse fixed */
  .sidebar-sm-fixed .page-container .page-content,
  .sidebar-sm-fixed .page-container .footer {
    margin-left: 35px !important;
  }
  /* active */
  .sidebar-sm .sidebar .sidebar-menu > li,
  .sidebar-sm .sidebar .sidebar-menu > li > a {
    position: relative;
  }
  .sidebar-sm .sidebar .sidebar-menu > li > a {
    height: 40px;
  }
  .sidebar-sm .sidebar .sidebar-menu > li > a > .menu-text {
    display: none;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .arrow {
    display: block !important;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover.no-submenu > a > .arrow {
    display: none !important;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .menu-text,
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > .nav.in {
    width: 220px;
    position: absolute;
    z-index: 999;
    left: 35px;
    margin-top: 0;
    top: 0;
    display: block;
  }
  .sidebar-sm .sidebar .sidebar-menu > li.open.hover > a > .menu-text {
    background: inherit;
  }
  /* sidebar-user */
  .sidebar-sm .sidebar .sidebar-user {
    height: 35px;
    padding: 5px 0 0;
  }
  .sidebar-sm .sidebar .sidebar-user > .avatar {
    left: 5px;
  }
  .sidebar-sm .sidebar .sidebar-user > .avatar > img {
    width: 25px;
    height: 25px;
  }
  .sidebar-sm .sidebar .sidebar-user > .info {
    position: absolute;
    z-index: 999;
    left: 35px;
    width: 220px;
    padding: 10px;
    margin: 0;
    top: 0;
    display: none;
  }
  .sidebar-sm .sidebar .sidebar-user > .avatar {
    float: none;
    display: block;
    text-align: center;
  }
}
@media (min-width: 992px) {
  /* page sidebar medium */
  .sidebar-md .sidebar {
    width: 110px;
  }
  .sidebar-md .sidebar .sidebar-menu {
    margin: 0;
  }
  .sidebar-md .page-container .page-content,
  .sidebar-md .page-container .footer {
    margin-left: 110px;
  }
  .sidebar-md .sidebar-menu .navbar-toggle {
    float: none;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .sidebar-md .sidebar-menu > li > a {
    padding: 10px;
    transition: none 0s ease 0s;
  }
  .sidebar-md .sidebar-menu > li > a > .menu-text {
    margin: 10px 0 0 0;
    display: block;
  }
  .sidebar-md .sidebar-menu > li > a > i {
    margin: 0;
    font-size: 20px;
    display: block;
  }
  .sidebar-md .sidebar .sidebar-menu > li > a > .arrow {
    display: none;
  }
  .sidebar-md .sidebar-menu > li .nav {
    display: none;
  }
  .sidebar-md .sidebar-menu > li > .nav .nav.in {
    display: block;
  }
  .sidebar-md .sidebar-menu.nav > li > .nav > li > a {
    padding: 10px;
  }
  .sidebar-md .sidebar-menu.nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 38px;
  }
  .sidebar-md .sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 58px;
  }
  .sidebar-md .sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 78px;
  }
  /* page sidebar collapse fixed */
  .sidebar-md-fixed .page-container .page-content,
  .sidebar-md-fixed .page-container .footer {
    margin-left: 110px !important;
  }
  /* active */
  .sidebar-md .sidebar .sidebar-menu > li,
  .sidebar-md .sidebar .sidebar-menu > li > a {
    position: relative;
  }
  .sidebar-md .sidebar .sidebar-menu > li > a {
    display: block;
    text-align: center;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover > a > .arrow {
    display: block !important;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover.no-submenu > a > .arrow {
    display: none !important;
  }
  .sidebar-md .sidebar .sidebar-menu > li.open.hover > .nav.in {
    width: 220px;
    position: absolute;
    z-index: 999;
    left: 110px;
    margin-top: 0;
    top: 0;
    display: block;
  }
  /* sidebar-user */
  .sidebar-md .sidebar .sidebar-user > .avatar {
    left: 15px;
  }
  .sidebar-md .sidebar .sidebar-user > .info {
    position: absolute;
    z-index: 999;
    left: 110px;
    width: 220px;
    padding: 10px;
    margin: 0;
    top: 0;
    display: none;
  }
  .sidebar-md .sidebar .sidebar-user > .avatar {
    float: none;
    display: block;
    text-align: center;
  }
}
.theme-panel {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;
}
.theme-panel > .toggler {
  color: inherit;
  float: left;
  padding: 8px 10px;
}
.theme-panel > .toggler > i {
  font-size: 20px;
}
.theme-panel > .theme-options {
  float: left;
  width: 250px;
  border: solid 2px #000;
  border-right: 0;
  display: none;
  background: #fff;
  padding: 10px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.theme-panel > .theme-options.open {
  display: block;
}
.theme-panel > .theme-options .form-horizontal .form-group {
  margin: 0 0 3px 0;
}
.theme-panel .theme-group > ul,
.theme-panel .theme-group > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.theme-panel .theme-group > ul > li {
  float: left;
  position: relative;
}
.theme-panel .theme-group > ul > li > a {
  display: block;
  margin: 0 10px 10px 0;
  padding: 12px;
  color: #fff;
}
.theme-panel .theme-group > ul > li.select > a:before {
  color: inherit;
  content: "\f00c";
  font-family: 'FontAwesome';
  left: 5px;
  margin: 0;
  padding: 3px 0 0 0;
  position: absolute;
  top: 0px;
}
/* theme colors */
.theme-sky-blue {
  background-color: #007fff;
}
.theme-green {
  background-color: #008a17;
}
.theme-blue-green {
  background-color: #8c0095;
}
.theme-orange {
  background-color: #ff8f32;
}
.theme-red {
  background-color: #d24726;
}
.theme-purple {
  background-color: #4617b4;
}
.theme-cardovan {
  background-color: #570000;
}
.theme-teal {
  background-color: #008299;
}
.theme-pink {
  background-color: #dc4fad;
}
.theme-dark-blue {
  background-color: #004b8b;
}
.theme-blue {
  background-color: #0072c6;
}
.theme-black {
  background-color: #1a1a1a;
}
